<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div data-th-fragment="srmtool">
    <div class="btn-group-vertical">
        <a class="btn btn-primary" tabindex="0" role="button" data-toggle="popover" id="pcBtn">燃烧压强Pc</a>
        <a class="btn btn-primary" tabindex="0" role="button" id="cdBtn">壳体壁厚cDelta</a>
        <a class="btn btn-primary" tabindex="0" role="button" id="abBtn">燃烧面积Ab</a>
        <a class="btn btn-primary" tabindex="0" role="button" id="rtBtn">喉部半径Rt</a>
        <a class="btn btn-primary" tabindex="0" role="button" id="mbBtn">质量流率mb</a>
        <a class="btn btn-primary" tabindex="0" role="button" id="paBtn">环境压强Pa</a>
        <a class="btn btn-primary" tabindex="0" role="button" id="peBtn">出口压强Pe</a>
        <a class="btn btn-primary" tabindex="0" role="button" id="ispBtn">比冲Isp</a>
        <a class="btn btn-primary" tabindex="0" role="button" id="fBtn">推力F</a>
        <a class="btn btn-primary" tabindex="0" role="button" id="rBtn">燃速rate</a>
        <a class="btn btn-primary" tabindex="0" role="button" id="epsBtn">喷管初始膨胀半角</a>
    </div>
</div>


</body>
</html>