<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card mt-4" data-th-fragment="card">
    <img class="card-img-top img-fluid" th:src="@{/image/srm.jpg}" alt="你瞅啥">
    <div class="card-body">
        <h3 class="card-title" th:text="${tool.toolName}">固体火箭发动机计算工具集</h3>
        <h4 th:text="${tool.toolAuthor}">凯璇大帝</h4>
        <p class="card-text" th:text="${tool.toolDesc}">在左侧选择计算工具模块</p>
    </div>
</div>
</body>
</html>